.title__head{
    & h3,
    h2,
    p {
        text-transform: capitalize;
    }

    & h3 {
        font-size: 1.5rem;
        font-weight: 100;
    }

    & h2 {
        font-size: 2rem;
        font-weight: 300;
    }

}