.py-50 {
    margin: 50px 0;

}

.service__title {

    & h3,
    h2,
    p {
        text-transform: capitalize;
    }

    & h3 {
        font-size: 1.5rem;
        font-weight: 100;
    }

    & h2 {
        font-size: 2rem;
        font-weight: 300;
    }

}